<p>
  Affichage du module d'affichage vin
</p>
<div class='card'>
  <div class='card-header'>Liste des vins</div>
  <div>Filtre:
    <input type="text">
  </div>
  <div class='table-responsive'>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Nom</th>
          <th>Année</th>
          <th>Nombre d'années de vieillissement</th>
          <th>Type de vin</th>
          <th>Région</th>
          <th>Commentaire</th>
          <th>Plat d'accompagnement</th>
        </tr>
      </thead>
    </table>
  </div>
</div>